@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.songs {
  font-size: 70x;
  font-family: 'Playfair Display';
}

.song-card {
  background-color: #2a611e;
  width: 200px;
}

.card-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Playfair Display';
  color:#d4c4b2
}