@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body{
  width: 100%;
  background-color: #c3a588;
  font-family: 'Playfair Display';
}

.active-popUp {
  overflow-y:hidden;
}

.App {
  text-align: center;


}
.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.home {
  display: grid;
  grid-template-columns: 180px 250px 180px 250px;
  column-gap: 5px ;
  grid-template-rows: 200px 200px;
}

.home-text {
  display: flex;
 text-align: start;
  align-items: center;
}

.home-text h2 {
  font-size: 30px;
}

.records {
  display: flex;
  align-items: center;
}

.records img {
  width: 140px;
  height: 140px;
  
}

h2 {
  font-size: 55px;
  margin-top: 20px;
  color: #2a611e
}



