body.active-popUp {
  overflow-y: hidden;
}

.btn-popUp {
  padding: 10px;
  font-size: 10px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}

.popUp, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.popUp-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 44px 88px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-popUp {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
