@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
  margin: 0;
  /* display: flex;
  justify-content: center; */
}
.songs {
  font-size: 70x;
  font-family: 'Playfair Display';
}

.song-card {
  background-color: #2a611e;
  width: 450px;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.card-holder {
  font-family: 'Playfair Display';
  color:#d4c4b2;
  margin: 0;
}

.song-info h3 {
  font-size: 20px;
}

.song-info h4 {
  font-size: 12px;
}

.container-grid {
  padding: 2em ;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-gap: 2em;
  justify-content: center;
}

.song-img img {
  height: 70px;
  width: 70px;
  margin: 0;
  border-radius: 50%;
  position: relative;
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  .pause {
    width: 30px;
    height: 30px;
  }


  .song-img:hover .play {
    opacity: .5;
  }

  .play {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: .3s ease;
  }