@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
  margin: 0;
}
.songs {
  font-size: 70x;
  font-family: 'Playfair Display';
}

.song-card {
  background-color: #d4c4b2;
  width: 550px;
  display: flex;
  height: 170px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
 
}

.card-holder {
  font-family: 'Playfair Display';
  color:#2a611e;
  margin: 0;
  width: 100%;
  display: flex;
}

.song-info h3 {
  font-size: 30px;
}

.song-info h4 {
  font-size: 15px;
}

.container-grid {
  padding: 10px ;
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  column-gap: 6em;
  row-gap: 20px;
  justify-content: center;
}

.song-img img {
  height: 125px;
  width: 125px;
  margin: 0;
  border-radius: 50%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .container {
    position: relative;
    height: 125px;
    width: 125px;
    margin: 0;
    border-radius: 50%;
  }

  .container:hover .song-img{
    opacity: 0.5;
  }

  .container:hover .play {
    opacity: 1;
  }

  .container:hover .pause {
    opacity: 1;
  }

  .play {
    width: 40px;
    height: 40px;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .play-inactive {
    visibility: hidden;
  }

  .pause {
    width: 45px;
    height: 45px;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 44%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .pause-inactive {
    visibility: hidden;
  }

  .center {
    width: 45px;
    height: 45px;
    opacity: 1;
    position: absolute;
    top: 33%;
    left: 44%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }